<div class="row">
  <div class="col-md-5 form_left">

  <h2 class="form_heading">Add a Project</h2>
  <form class="" action="/projects/add" method="post">
    <div class="form-group">
      <label for="title">Project Title</label>
      <input type="text" name="title" class="form-control">
    </div>
    <button type="submit" class="btn btn-primary">Create Project</button>
  </form>
</div>

  <% if @projects.any? %>
  <div class="col-md-6 form_right">
    <h2 class="form_heading">Add a Volunteer</h2>
    <form class="" action="/volunteers/add" method="post">
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" name="name" class="form-control">
      </div>
      <div class="form-group">
        <label for="hours">Volunteer hours</label>
        <input type="number" name="hours" class="form-control">
      </div>
      <div class="form-group">
        <label for="project_ids">Project</label>
        <select name="project_id" class="form-control">
          <% @projects.each do |project| %>
            <option value='<%= project.id %>'><%= project.title %></option>
        <% end %>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Add Volunteer</button>

    </form>
  </div>
  <% end %>
</div>

<div class="row">
  <div class="col-md-12">
    <% if @projects.any? %>
      <h2>Project List</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Project</th>
            <th scope="col">Volunteers</th>
            <th scope="col">Hours</th>
          </tr>
        </thead>
        <tbody>
        <% @projects.each do |project| %>
          <tr>
            <td><a href="projects/<%= project.id %>"><%= project.title %></a></td>
            <td><span class="badge badge-primary badge-pill"><%= project.volunteers.length %></span></td>
            <td><span class="badge badge-primary badge-pill"><%= project.hours %></span> </td>
          </tr>
        <% end %>
        </tbody>
      </table>
      </ul>
      <a href="/sort_projects"><button class="btn-primary btn">Sort A-Z</button></a>
  </table>
  <% end %>

  <% if @volunteers.any? %>
  <h2>Volunteer List</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Hours</th>
      </tr>
    </thead>
    <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></td>
        <td><span class="badge badge-primary badge-pill"><%= volunteer.hours %></span></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <a href="/sort_volunteers"><button class="btn-primary btn">Sort A-Z</button></a>
  <a href="/sort_volunteers_hours"><button class="btn-primary btn">Sort by hours</button></a>
  <% end %>
  </div>
</div>
