<h1><%= @project.title %></h1>

<% if @volunteers.any? %>
  <h2>Volunteer List</h2>
  <ul class="list-group">
    <% @volunteers.each do |volunteer| %>
      <li class="list-group-item"><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></li>
    <% end %>
  </ul>
  <a href="/projects/<%= @project.id %>/sort_volunteers"><button class="btn-primary btn">Sort A-Z</button></a>
<% end %>

<h2>Update Project</h2>
<form action="/projects/<%= @project.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="title">New Project Title</label>
    <input type="text" name="title" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Update Project</button>
</form>
</form>

<form action="/projects/<%= @project.id %>/delete" method="post">
  <input type="hidden" name="_method" value="patch">

  <button type="submit" class="btn btn-primary">Delete Project</button>
</form>
