<h2>Project Details</h2>
<p><strong>Name:</strong> <%= @project.title %></p>
<p><strong>Total Volunteers:</strong> <%= @project.volunteers.length %></p>
<p><strong>Total Hours:</strong> <%= @project.hours %></p>

<form action="/projects/<%= @project.id %>/delete" method="post">
  <input type="hidden" name="_method" value="patch">
<button type="submit" class="btn btn-primary">Delete Project</button>
</form>

<% if @volunteers.any? %>
  <h2>Volunteer List</h2>

  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Hours</th>
      </tr>
    </thead>
    <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><a href="/volunteers/<%= volunteer.id %>"><%= volunteer.name %></a></td>
        <td><span class="badge badge-primary badge-pill"><%= volunteer.hours %></span></td>
      </tr>
    <% end %>
    </tbody>
  </table>

  <a href="/projects/<%= @project.id %>/sort_volunteers"><button class="btn-primary btn">Sort A-Z</button></a>
  <a href="/projects/<%= @project.id %>/sort_volunteers_by_hours"><button class="btn-primary btn">Sort by hours</button></a>
<% end %>

<h2>Update Project</h2>
<form action="/projects/<%= @project.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="title">New Project Title</label>
    <input type="text" name="title" class="form-control">
  </div>
  <button type="submit" class="btn btn-primary">Update Project</button>
</form>
