<h1>Volunteer Details</h1>
<h2>Name: <%= @volunteer.name %></h2>
<h2>Project: <%= @project.title %></h2>
<h2>Hours: <%= @volunteer.hours %></h2>

<h2>Update Volunteer</h2>
<form class="" action="/volunteers/<%= @volunteer.id %>/edit" method="post">
  <input type="hidden" name="_method" value="patch">
  <div class="form-group">
    <label for="name">New Name</label>
    <input type="text" name="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="hours">New total hours</label>
    <input type="text" name="hours" class="form-control">
  </div>

  <label for="project_ids">New Project</label>
  <select name="project_id">
    <% @projects.each do |project| %>
      <option value='<%= project.id %>'><%= project.title %></option>
  <% end %>
  </select>
  <br>
  <button type="submit" class="btn btn-primary">Update Volunteer</button>
</form>

<form action="/volunteers/<%= @volunteer.id %>/delete" method="post">
  <input type="hidden" name="_method" value="patch">

  <button type="submit" class="btn btn-primary">Delete Volunteer</button>
</form>
